.signIn_container {
    margin: 0 auto !important;
    padding: 0 !important;
    background: #26323c;
    padding: 10px !important;
    box-shadow: 0px 0px 13px #fff;
    min-height: 400px;
}

.btn {
    outline: none !important;
    border-radius: 0 !important;
    width: 150px;
    background: #425259;
    color: #ffffff;
}

.btn-success {
    background-color: #17b187;
}

.user-name {
    background-color: transparent;
    outline: none;
    border: 0.1px solid #fff;
    width: 44%;
    color: #fff;
    padding: 5px;
}

::placeholder {
    padding-left: 3%
}

.submit-btn {
    font-size: 20px;
    font-weight: bolder;
    width: 100%
}

.error_message {
    color: red;
}